Dockerfile
.dockerignore
.env
.env*.local
.git
.gitignore
.next
.vscode
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
README.md
.DS_Store
keys/
test-results/
playwright-report/
screenshots/
.eslintcache
*.tsbuildinfo
.swc/
coverage/
.env.example
.github/
.next-validation/
docs/
